{
        "status": "",
        "thumbnailUrl": "",
        "bornAt": "Code for DC",
        "geography": "DC",
        "governmentPartner": {},
        "communityPartner": {},
        "type": "",
        "needs": [

        ],
        "categories": [

        ],
        "moreInfo":""
}
